<!DOCTYPE html>
<html>
<head>
  <title>Broadway & Oni | Discover</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Broadway & Oni Discover</a>

      </div>
    </div>
  </div>

  <div class="container-fluid">



          <div class="row">
            <div class="2u chart-wrapper" id="menuselect" style="background-color: #33CC99; height: 60px;">
              <div class="chart-title">  <strong> Select Country </strong> </div>         
            </div>
            <div class="2u">
        <div> <span> &nbsp</span></div>
            </div>
              <a href='javascript:dc.filterAll();dc.redrawAll();'><font color="#33CC99"> Reset All </font></a>
            </span>
          </div>
              




    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Volume Sold
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Sector Chart
              </div>
              <div class="chart-stage">
                <div id="sector-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Total Volume
              </div>
              <div class="chart-stage">
                <div id="number-projects-nd"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Average Performance
              </div>
              <div class="chart-stage">
                <div id="total-donations-nd"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->


        </div>
      </div>

    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>